*.aiff
*.zip
*.asv
studying/Сoursework/Sem_template.aux
studying/Сoursework/Sem_template.bbl
studying/Сoursework/Sem_template.blg
studying/Сoursework/Sem_template.dvi
studying/Сoursework/Sem_template.log
studying/Сoursework/Sem_template.out
